@using DTO.Entity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicLibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicLibrary.styles.css" asp-append-version="true" />

    <style>

        .navbar-gray {
            background: #ccc;
        }

        div.borderThickness {
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: hsl(0, 0%, 73%);
        }

        .textStyle{
            font-weight: 100;
            color: black;
            text-decoration:none
        }



    </style>
</head>
<body style="background:#e5e5e5">
    <div>
        <div style="margin:0px auto;width:70%">
            <header>

                <div>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-gray border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MusicLibrary</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1" style="flex-direction:row-reverse">
                                    <partial name="_LoginPartial" />
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

            </header>

            <div class="borderThickness" style="float:left;margin:0; width:15%; background:#f0f0f0">
                <table class="table">

                    <tr style="height:50px">
                        <th>
                            <a href="@Url.Action("GetSingers", "Singer")" class="menu-element" style="text-decoration:none;font-weight: 400; color: black;">Singers</a>
                        </th>
                    </tr>

                    <tr style="height:50px">
                        <th>
                            <a href="@Url.Action("GetTags", "Tag")" class="menu-element" style="text-decoration:none;font-weight: 400; color: black;">Tags</a>
                        </th>
                    </tr>
                    <tr style="height:50px">
                        <th>
                            <a href="@Url.Action("AddSinger", "Singer")" class="menu-element" style="text-decoration:none;font-weight: 400; color: black;">Add Singers</a>
                        </th>
                    </tr>
                    <tr style="height:50px">
                        <th>
                            <a href="@Url.Action("AddTag", "Tag")" class="menu-element " style="text-decoration:none;font-weight: 400; color: black;">Add Tag</a>

                        </th>
                    </tr>

                    <tr style="height:50px">
                        <th>
                            <a href="@Url.Action("UploadFile", "File")" class="menu-element" style="text-decoration:none;font-weight: 400; color: black;">UploadFile</a>
                        </th>
                    </tr>

                </table>
            </div>

            <div class="container borderThickness" style="float:left; margin:0;width:70%;background-color:white">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <div class="borderThickness" style="float:right; margin:0;width:15%;background-color:#f0f0f0">
                @if (@ViewBag.tags != null)
                {
                    <table class="table">

                        @foreach (TagDTO item in @ViewBag.tags)
                        {
                            <tr>
                                <td style="text-align:center">
                                    @Html.ActionLink(@item.TagName,"GetTag","Tag",new{@id = item.TagId},new{style ="text-decoration:none;font-weight: 400; color: black;"})

                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>




    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
