@model FileUploadViewModel


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>

<body>

    <h1 style="text-align:center">Buffered File Upload</h1>
    <hr />
    <form method="post" enctype="multipart/form-data">

        <div style="text-align:center">
            <h5>Select Singer(s)</h5>
            <select class="selectpicker" multiple data-live-search="true" name="SingerId">
                @foreach (var item in Model.Singers)
                {
                    <option value="@item.SingerId">@item.Nickname</option>
                }
            </select>
        </div>

        <div style="text-align:center">
            <h5>Select Tag(s)</h5>
            <select class="selectpicker" multiple data-live-search="true" name="TagId">
                @foreach (var item in Model.Tags)
                {
                    <option value="@item.TagId">@item.TagName</option>
                }
            </select>
        </div>

        <div style="text-align:center">
            <input name="file" type="file" />
        </div>

        <div style="text-align:center">
            <button type="submit">Upload File</button>
        </div>

    </form>



    @if (ViewBag.Message != null)
    {
        <div class="alert" style="margin-top:20px">
            @ViewBag.Message
        </div>
    }

</body>
