@model SingerViewModel

<head>

    <style>




    </style>
</head>

<body>
    @if (@Model.SingerViewModelId == 0)
    {

        <h1 style="text-align:center;font-weight: 400;">Add Singer</h1>
        <hr />

    }
    else
    {
        <h1 style="text-align:center; font-weight: 400;"> Update Singer</h1>
        <hr />
    }
    <div style="width:100%;">

        <form action="/Singer/AddSinger" method="post">
            <div style="text-align:center">
                <p>
                    <div>
                        <h5 style="font-weight: 400;">
                            Enter NickName:
                        </h5>
                        
                    </div>

                    @Html.TextBoxFor(x => x.NickName)
                    @Html.ValidationMessageFor(x=>x.NickName)
                </p>

                <p>
                    <div>
                        <h5 style="font-weight: 400;">
                            Enter urlPhoto
                        </h5>
                       
                    </div>
                    @Html.TextBoxFor(x => x.PhotoSinger)
                    @Html.ValidationMessageFor(x=>x.PhotoSinger)
                </p>
            </div>
            @Html.HiddenFor(x=>x.SingerViewModelId)
            @if (@Model.SingerViewModelId == 0)
            {
                 <div style="text-align:center">
                    <input type="submit" value="Add Singer" />
                </div>
            }
            else
            {
                <div style="text-align:center">
                    <input type="submit" value="Update" />
                </div>
            }
        </form>
    </div>
</body>
